/*body {
  padding-top: 60px;
}*/

#address-form {
  display: none;
}

#build-your-pizzas {
  display: none;
}

.order-total {
  display:none;
}

.pizza-order-form {
  width: 35%;
  text-align: center;
  margin: auto;
}

.all-form {
  font-size: 20px;
}

button {
  color: black;
}
